body {
  background-color: #A9BCD0;
}

#loginDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.App {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/* APPLICANT CARD */
#pInfo {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  height: 200px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bio-column {
  flex: 0;
  margin: 20px 0px 0px 0px;
}

#name {
  font-size: 20px;
  margin-bottom: 20px;
}

#email {
  font-size: 15px;
  margin-bottom: 10px;
}

#applicant {
  font-size: 16px;
  margin-bottom: 10px;
}

#profImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  padding-right: 50px;
}


/* LIST COLUMNS */
.todolist-column {
  width: 60%;
  flex: 1;
  margin: 20px;
}

h3 {
  margin-top: 0;
}

#lists-container {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 45%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  overflow-y: auto;
  height: 80vh;
}

#toDoListDiv {
  margin: 20px;
}

#completedListDiv {
  margin: 20px;
}

/* LIST ITEMS */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #A9BCD0;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  height: 80vh;
}

#ToDoListLi {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
}

#completedListLi {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
}

li {
  margin-bottom: 10px;
}

#checkbox {
  margin-left: 10px;
}


